---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';



// Our variables
$base-font-family: 'Merriweather', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$header-font-family: 'Oswald', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: 0.875rem;
$base-line-height: 1.5;

$spacing-unit: 2rem;

$gray-color: #57534e;
$gray-color-light: #a8a29e;
$gray-color-lighter: #e7e5e4;
$gray-color-dark: #44403c;

$text-color-primary: #44403c;
$text-color-subdued: #78716c;
$background-color: #fafaf9;
$brand-color: #2563eb;

// Width of the content area
$content-width: 50rem;

$on-palm: 38rem;
$on-laptop: 50rem;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  'base',
  'layout',
  'syntax-highlighting',

  'about',
  'blog',
  'mc',
  'post',
  'swd',
  'work'
;
