---
layout: page
title: Work
permalink: /work/
---
<div class="work-page">
  <h2>{{ page.title }}</h2>

  <p>
    I have worked on a lot of cool projects over the years
    and this is where I will try to shed a little light
    on them. I might dive into a whole project or maybe just pick on one feature.
    For each post, I will talk about some of the decisions and reasoning behind
    things with vary degrees of detail. I would love some feedback
    if you have any. Enjoy!
  </p>

  <ul class="work-page-list">
  {% for post in site.posts %}
    {% if post.tags contains 'portfolio' %}
    <li class="work-page-list-element" style="background-image: url('{{ post.cover }}');">
      <a class="work-page-list-element-link" href="{{ post.url }}">

        <h1 class="work-page-list-element-link-header">{{ post.title }}</h1>
        <span class="work-page-list-element-link-date">{{ post.date | date: "%b %-d, %Y"  }}</span>
      </a>
    </li>
    {% endif %}
  {% endfor %}
  </ul>
</div>
