<footer class="site-footer">
  <ul class="site-footer-list">
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="/">
        <span class="site-footer-list-element-link-label">
          Home
        </span>
      </a>
    </li>
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="/about">
        <span class="site-footer-list-element-link-label">
          About
        </span>
      </a>
    </li>
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="/blog">
        <span class="site-footer-list-element-link-label">
          Blog
        </span>
      </a>
    </li>
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="/work">
        <span class="site-footer-list-element-link-label">
          Work
        </span>
      </a>
    </li>
  </ul>

  <ul class="site-footer-list">

    {% if site.github_username %}
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="https://github.com/{{ site.github_username }}">
        <span class="site-footer-list-element-link-icon icon">{% include icon-github.svg %}</span>
        <span class="site-footer-list-element-link-label">GitHub</span>
      </a>
    </li>
    {% endif %}

    {% if site.mastodon_username %}
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="https://mastodon.social/@{{ site.mastodon_username }}">
        <span class="site-footer-list-element-link-icon icon">{% include icon-mastodon.svg %}</span>
        <span class="site-footer-list-element-link-label">Mastodon</span>
      </a>
    </li>
    {% endif %}

    {% if site.linkedin_username %}
    <li class="site-footer-list-element">
      <a class="site-footer-list-element-link" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">
        <span class="site-footer-list-element-link-icon icon">{% include icon-linkedin.svg %}</span>
        <span class="site-footer-list-element-link-label">LinkedIn</span>
      </a>
    </li>
    {% endif %}
  </ul>
</footer>