/**
 * Site header
 */

.site-header {
	margin-bottom: 2rem;
}

.site-header-title {
	text-transform: uppercase;

	color: $gray-color;

	font-family: $header-font-family;
	font-size: 2rem;
	font-weight: 700;
	line-height: 2.25rem;

	&:hover {
		text-decoration: none;
	}

	&:active {
		position: relative;
		top: 1px;
	}
}

.site-header-title-image {
	width: 2.25rem;
	height: 2.25rem;

	vertical-align: top;

	border-radius: 0.125rem;
}

/**
 * Site footer
 */

.site-footer {
	margin-top: 4rem;

	text-align: center;

	font-family: $header-font-family;
}

.site-footer-list {
	margin: 0 0 1rem;
	padding: 0;

	list-style: none;
}

.site-footer-list-element {
	display: inline-block;

	&:before {
		content: '\00b7';
	}

	&:first-child:before {
		display: none;
	}
}

.site-footer-list-element-link {
	display: inline-block;

	margin: 0 0.125rem;
	padding: 0 0.125rem;

	text-transform: uppercase;

	color: $gray-color !important;

	font-size: 0.8125rem;
	font-weight: 700;

	&:hover {
		text-decoration: none;
	}
}

.site-footer-list-element-link-icon {
	vertical-align: 2px;

	.site-footer-list-element-link:hover > & {
		text-decoration: none;

		svg > path {
			fill: $gray-color-dark;
			text-decoration: none;
		}
	}
}

.site-footer-list-element-link-label {
	.site-footer-list-element-link:hover > & {
		text-decoration: underline;
		color: $gray-color-dark
	}
}

.page-wrapper {
	max-width: 38rem;
	margin: 0 auto;
	padding: 2rem 1.5rem;
}
