.mc-page {

}

.mc-page-image {
  display: block;
  margin: 0 auto 1rem;
}

.mc-page-text {
}

.mc-page-text-center {
  text-align: center;
}

.mc-page-screenshot {
  margin-left: 1rem;
  margin-right: 1rem;
}

.mc-page-divider {
  border: 0;
  border-top: 0.0625rem solid $gray-light-color;
  margin: 2rem 0;
}

.mc-page-spacer {
  border: 0;
  height: 2rem;
}

.mc-page-stores {
  text-align: center;
}