.project-page {

}

.project-page-image {
  display: block;
  margin: 0 auto 1rem;
}

.project-page-text {
}

.project-page-text-center {
  text-align: center;
}

.project-page-screenshot {
  margin-left: 1rem;
  margin-right: 1rem;
}

.project-page-spacer {
  border: 0;
  height: 2rem;
}

.project-page-stores {
  text-align: center;
}