.swd-page {

}

.swd-page-image {
  display: block;
  margin: 0 auto 1rem;
}

.swd-page-text {
  text-align: center;
}

.swd-page-divider {
  margin: 2rem 0;
}

.swd-page-app-store-button-image {
  width: 12rem;
}
