.swd-page {

}

.swd-page-image {
  display: block;
  margin: 0 auto 1rem;
}

.swd-page-text {
}

.swd-page-divider {
  border: 0;
  border-top: 1px solid $gray-light-color;
  margin: 2rem 0;
}

.swd-page-spacer {
  border: 0;
  height: 2rem;
}

.swd-page-app-store-button-image {
  width: 12rem;
}
