---
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout title="About">
  <div class="about-page">
    <h2 class="font-header text-[1.875rem] font-bold mb-4">About</h2>

    <p class="mb-4">
      I'm a developer and designer living in <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://en.wikipedia.org/wiki/Ann_Arbor,_Michigan">Ann Arbor</a
      >. I really enjoy <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://annarborultimate.org">ultimate frisbee</a
      >, <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://music.apple.com/profile/rdonnelly">music</a
      >, board games, and travel.
    </p>

    <hr class="border-0 border-t border-stone-200 my-8 mx-4" />

    <img
      class="max-w-full align-middle block mb-4"
      src="/images/layout/bridge.jpg"
      alt="Bridge"
    />

    <p class="mb-4">
      After graduating from the <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="http://umich.edu"
        target="_blank">University of Michigan</a
      > (Go Blue!) with my B.S. in Computer Science, I stuck around and worked for
      a few years as a web developer. There, I mentored student developers and worked
      on a handful of applications including <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://mprint.umich.edu"
        target="_blank">MPrint</a
      >, an application I designed and developed to allow cross-campus printing.
      It even included a REST API that was used by various student groups to
      make mobile applications.
    </p>
    <p class="mb-4">
      From there I moved on to Barracuda Networks to work on <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="http://copy.com"
        target="_blank">Copy.com</a
      > and then on to <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="http://newfoundry.com"
        target="_blank">NewFoundry</a
      >. There, I was privileged to work with some great clients (including
      Mitsubishi Electric, Pop-Post, and Renesas) and on some neat projects
      (including an Android app demo at CES 2016).
    </p>
    <p class="mb-4">
      I started at <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://www.detroitlabs.com">Detroit Labs</a
      >, a digital product and services agency, in 2017 and have been working as
      a lead developer and designer on a variety of projects and verticals. I
      have had the opportunity to lead work on applications for embedded in-car
      displays, as well as lead work on web applications that called for
      contributions to everything from UI/UX design to frontend development to
      backend development and SQL. I feel extremely privileged to be mentoring
      and learning from such talented people.
    </p>
    <p class="mb-4">
      In my free time, I play a lot of ultimate frisbee. During the summers, I
      play on (and sometimes organize) traveling club teams. I am currently an
      active director for <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="http://annarborultimate.org"
        target="_blank">Ann Arbor Ultimate</a
      >, and handle designing and developing the <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://github.com/a2ultimate/ultimate-league-app"
        target="_blank">open source league web platform</a
      >. Otherwise, you will find me playing board and/or card games, or maybe
      just building apps for them (e.g.
      <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="/blog/2023-10-05-mc-builder"
        target="_blank">MCBuilder</a
      >).
    </p>
    <p class="mb-4">
      If you would like to say hello, feel free to <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="mailto:ryanjdonnelly@gmail.com">email me</a
      >, <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://mastodon.social/@rdonnelly"
        target="_blank">message me on Mastodon</a
      >, <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://www.linkedin.com/in/ryanjdonnelly"
        >message me on LinkedIn</a
      >, or <a
        class="text-brand no-underline hover:underline hover:text-stone-700"
        href="https://instagram.com/rdonnelly"
        target="_blank">look me up on Instagram</a
      >.
    </p>
  </div>
</PageLayout>
