---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout title="Privacy">
  <p class="mb-4">
    Ryan Donnelly built the Unlimited Power, MC Builder, SWD Browser, and SWD Team Bulder apps. 
    This SERVICE is provided by Ryan Donnelly at advertised cost and is intended for use as is. 
    I do not store or share your data.
  </p>
</PageLayout>
