---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SWD Browser" appStoreId="1339681465">
  <div class="max-w-page mx-auto py-8 px-6">
    <Header />
    <div class="text-center">
      <a href="https://itunes.apple.com/us/app/swd-browser/id1339681465" target="_blank">
        <img class="inline-block max-w-[40%] my-4" src="/images/swd/swd-browser.png" alt="SWD Browser" title="SWD Browser" />
      </a>

      <hr class="border-0 h-8" />

      <p class="mb-4">
        Can't remember what that one event does? Looking for cards with the
        "Ambush" keyword? Need to see exactly which cards are available in the
        Trilogy format?
      </p>

      <h3 class="font-header text-[1.625rem] font-bold mb-4">
        Let the SWD Browser app help!
      </h3>

      <ul class="mb-4 ml-8 text-left">
        <li>Browse every single card available in the Star Wars Destiny game
          (over 1,400 cards as of SoH!)</li>
        <li>View each card in a detail view, including the card image if
          available</li>
        <li>Check what starter set a card is available in</li>
        <li>Search for cards by name</li>
        <li>Filter by affiliation, faction, set, type, subtype, keyword, and
          rarity</li>
      </ul>

      <h4 class="font-header text-[1.4375rem] font-bold mb-4">
        All this for FREE!
      </h4>

      <hr class="border-0 border-t border-stone-200 my-8 mx-4" />

      <h3 class="font-header text-[1.625rem] font-bold mb-4">
        Patreon
      </h3>

      <p class="mb-4">
        Enjoying the app? Consider becoming a Patron! With your support, I will
        be able to continue future development on the apps in addition to funding
        my gaming habits.
      </p>

      <p class="mb-4">
        <a href="https://www.patreon.com/bePatron?u=4950805" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      </p>

      <hr class="border-0 border-t border-stone-200 my-8 mx-4" />

      <hr class="border-0 h-8" />

      <p class="mb-4">
        <a href="https://itunes.apple.com/us/app/swd-browser/id1339681465" target="_blank">
          <img class="inline-block" src="/images/swd/on-the-app-store.svg" alt="Download on the App Store" />
        </a>
      </p>

      <hr class="border-0 h-8" />
      <hr class="border-0 h-8" />

      <p class="mb-4">
        Have feedback? I'm interested in any comments, questions, or suggestions
        you have. <a class="text-brand no-underline hover:underline hover:text-stone-700" href="mailto:ryanjdonnelly+swd@gmail.com">Send me a message!</a>
      </p>

      <p class="mb-4">
        If you are enjoying this app, consider checking out my other app,
        <a class="text-brand no-underline hover:underline hover:text-stone-700" href="/swd-team-builder">SWD Team Builder</a>.
      </p>
    </div>
    <Footer />
  </div>
</Layout>
