---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="SWD Team Builder" appStoreId="1238218563">
  <div class="max-w-page mx-auto py-8 px-6">
    <Header />
    <div class="text-center">
      <a href="https://itunes.apple.com/us/app/swd-team-builder/id1238218563" target="_blank">
        <img class="inline-block max-w-[40%] my-4" src="/images/swd/swd-team-builder.png" alt="SWD Team Builder" title="SWD Team Builder" />
      </a>

      <hr class="border-0 h-8" />

      <p class="mb-4">
        Looking for your next SWD team? Feeling overwhelmed by all the possible
        combinations? Looking for the perfect fit for that one character?
      </p>

      <h3 class="font-header text-[1.625rem] font-bold mb-4">
        Let the SWD Team Builder app help!
      </h3>

      <ul class="mb-4 ml-8 text-left">
        <li>View all possible teams (over 1.1 million as of SoH!)</li>
        <li>Choose a format: Infinite, Standard, or Trilogy</li>
        <li>Select one or two-dice characters to show compatible teams</li>
        <li>Filter characters and teams by number of characters, number of dice,
          health, points, affiliation, faction, damage type, and set</li>
        <li>Show only teams that support a plot with points and/or faction</li>
      </ul>

      <h4 class="font-header text-[1.4375rem] font-bold mb-4">
        All this for FREE!
      </h4>

      <hr class="border-0 border-t border-stone-200 my-8 mx-4" />

      <h3 class="font-header text-[1.625rem] font-bold mb-4">
        Patreon
      </h3>

      <p class="mb-4">
        Enjoying the app? Consider becoming a Patron! With your support, I will
        be able to continue future development on the apps in addition to funding
        my gaming habits.
      </p>

      <p class="mb-4">
        <a href="https://www.patreon.com/bePatron?u=4950805" data-patreon-widget-type="become-patron-button">Become a Patron!</a>
        <script async src="https://c6.patreon.com/becomePatronButton.bundle.js"></script>
      </p>

      <hr class="border-0 border-t border-stone-200 my-8 mx-4" />

      <hr class="border-0 h-8" />

      <p class="mb-4">
        <a href="https://itunes.apple.com/us/app/swd-team-builder/id1238218563" target="_blank">
          <img class="inline-block" src="/images/swd/on-the-app-store.svg" alt="Download on the App Store" />
        </a>
      </p>

      <hr class="border-0 h-8" />
      <hr class="border-0 h-8" />

      <p class="mb-4">
        Have feedback? I'm interested in any comments, questions, or suggestions
        you have. <a class="text-brand no-underline hover:underline hover:text-stone-700" href="mailto:ryanjdonnelly+swd@gmail.com">Send me a message!</a>
      </p>

      <p class="mb-4">
        If you are enjoying this app, consider checking out my other app,
        <a class="text-brand no-underline hover:underline hover:text-stone-700" href="/swd-browser">SWD Browser</a>.
      </p>
    </div>
    <Footer />
  </div>
</Layout>
