---
const siteTitle = 'Ryan Donnelly';
const githubUsername = 'rdonnelly';
const linkedinUsername = 'ryanjdonnelly';
const mastodonUsername = 'rdonnelly';
---

<header class="mb-8">
  <a 
    class="uppercase text-stone-600 font-header text-3xl font-bold leading-9 hover:no-underline active:relative active:top-px inline-flex items-center gap-2"
    href="/"
  >
    <img class="w-9 h-9 align-top rounded-sm" src="/images/layout/eightbit.png" alt={siteTitle} />
    {siteTitle}
  </a>
</header>
